.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  height: auto;
  width: 300px;
  vertical-align: middle;
  hover {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  }
  text-align: center;
  display: inline-block;



}

.card .card-image {
  width: 60%;
  height: auto;
  border-radius: 50%;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0;
  color: hsl(200, 50%, 30%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: hsl(200, 40%, 40%);
  margin-top: 8px;
}


.button {
  background-color: hsl(201, 22%, 46%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 12px;
 
}
.button:hover {
  background-color: hsl(201, 22%, 36%);
}

.student-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  width: fit-content;
}

.student-card p{
  margin: 4px 0;
}

.welcome-message{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: hsl(210, 50%, 40%);
  margin: 20px;
}

.login-prompt{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: hsl(210, 40%, 50%);
  margin: 15px;
}

.list-category{
  list-style-type: none;
  padding: 2px;
  border: #242020 1px solid;
  border-radius: 5px;
  width: fit-content;
  background-color: hsl(216, 23%, 74%);
}

.list-value li{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: hsl(210, 30%, 40%);
  margin: 0px 0;
}